@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --body-background-color: #222327;
    --container-background-color: #0a0b0c;
    --color: #f1f1f2;
    --lighter-color: #636363;
    --logo-profile-width: 15%;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}